ul {
  padding: 0;
}

.main-content {
  margin-top: 70px;
}

li {
  display: block;
  border: 1px solid #EDEDED;
  border-radius: 2px;
  text-align: center;
  padding: 5px;
}

li input {
  width: 100%;
}

li button {
  margin-top: 10px;
}

.glyphicon {
  cursor: pointer;
}

.detail-view {
  padding: 10px 5px;
  position: absolute;
  bottom: 0;
  height: 200px;
  border-top: 1px solid black;
  width: 100%;
}
